.footer {
  width: 100%;
  margin-block-start: 100px;
  padding-block: 50px;
  background: url(../../images/footer/footer.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-light);
  font-size: 20px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer__contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer__contacts__soc1als__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__contacts__soc1als__item svg {
  width: 44px;
  height: 44px;
}

.footer__contacts__soc1als__item svg path {
  fill: currentColor;
}

.footer__contacts__email:hover,
.footer__contacts__phone:hover,
.footer__contacts__soc1als__item svg:hover  {
  color: var(--color-accent);
}

@media (max-width: 1024px) {
  .footer__contacts {
    flex-direction: column;
    gap: 20px;
  }
}